# dependencias
node_modules/

# next.js
.next/
out/

# producción
build/
dist/

# cache de turbopack
.turbo/

# variables de entorno
.env
.env.local
.env*.local

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# sistema
.DS_Store
Thumbs.db

# editores
.vscode/
.idea/